<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="h5 mt-0 title">YOPESO Sdn Bhd</div>
                                        <div class="h6 mt-0 title">Junior Developer Intern (March 2020 - July 2020)</div>
                                        <ul>
                                        <div class="row">
                                        <div class="col-md-8">
                                            <li class="non_list">Full Stack web development</li>
                                            <li class="non_list">Development and debugging company's HR portal</li>
                                            <li class="non_list">API Testing</li>
                                            <li class="non_list">Update company's web application and documentation</li>
                                            <li class="non_list">Scrum development implementation</li>
                                        </div>
                                        </div>
                                       </ul> 
                                    </div>  
                                    <div class="col-lg-5">
                                        <br/>
                                        <br/>
                                        <div class="h6 mt-0 title">Technologies and Language</div>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <li class="non_list">Angular 8</li>
                                                        <li class="non_list">Laminas Framework</li>
                                                        <li class="non_list">Node.js</li>
                                                        <li class="non_list">MySQL</li>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <li class="non_list">Postman</li>
                                                        <li class="non_list">Firebase</li>
                                                        <li class="non_list">Docker</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="h5 mt-0 title">YOPESO Sdn Bhd</div>
                                        <div class="h6 mt-0 title">Junior Developer Intern (April 2017 - July 2017)</div>
                                        <ul>
                                            <div class="row">
                                            <div class="col-md-8">
                                                <li class="non_list">Maintaining and debugging company's portal</li>
                                                <li class="non_list">Tested and refined website backend using automate test</li>
                                                <li class="non_list">API Testing</li>
                                                <li class="non_list">Testrail documentation</li>
                                            </div>
                                            </div>
                                           </ul>
                                    </div>    
                                    <div class="col-lg-5">       
                                        <br/>
                                        <br/>
                                        <div class="h6 mt-0 title">Technologies and Language</div>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <li class="non_list">Testrail</li>
                                                        <li class="non_list">MySQL</li>
                                                        <li class="non_list">Behat</li>
                                                        <li class="non_list">Composer</li>
                                                        <li class="non_list">PHPUnit</li>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <li class="non_list">Postman</li>
                                                        <li class="non_list">Node.js</li>
                                                        <li class="non_list">Docker</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        