<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/moodplus.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h5 class="card-title">Final Year Project: Mood Plus</h5>
          <h5 class="card-text"><b>Technology :</b> Java, Firebase </h5>
            <!--<h5 class="card-text"><a href="http://my-personal-portfolio.epizy.com/?i=2">View my Live Demo</a></h5>-->

          <a href="https://drive.google.com/file/d/1UwPdVxZrwDYQE1WIziuYmGKWIHn43hLx/view?usp=sharing" target="_blank" class="btn btn-primary ml-2 mr-5">See Project</a>
          <a href="https://github.com/rocket505/mood-plus" target="_blank" class="btn btn-primary">Github Link</a>
        
        </div>
      </div>
    </div>
    </div>

    <!--add project-->

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
      <div class="blog-entry">
    <div class="card" >
      <img class="card-img-top" src="assets/images/angkot.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h5 class="card-title">Startup Project: Angkot Cleaning Service</h5>
        <h5 class="card-text"><b>Technology :</b> Wordpress </h5>
          <!--<h5 class="card-text"><a href="http://my-personal-portfolio.epizy.com/?i=2">View my Live Demo</a></h5>-->

        <a href="http://angkot.cf/" target="_blank" class="btn btn-primary ml-2 mr-5">See Project</a>
        <a class="btn btn-primary" disabled>Github Link</a>
      
      </div>
    </div>
  </div>
  </div>

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/elb.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h5 class="card-title">E-Logbook System for Internship</h5>
          <h5 class="card-text"><b>Technology :</b> Angular 9, Firebase </h5>
            <!--<h5 class="card-text"><a href="http://my-personal-portfolio.epizy.com/?i=2">View my Live Demo</a></h5>-->

          <a href="https://elb-official.web.app" target="_blank" class="btn btn-primary ml-2 mr-5">See Project</a>
          <a href="https://github.com/mfirdausj/colab" target="_blank" class="btn btn-primary">Github Link</a>
        
        </div>
      </div>
    </div>
    </div>

    </div>
    </div>
  </div>